@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
  box-sizing: border-box; 
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* Верхний header */
.top-wrapper {
  width: 100%;
  height: 45px;
  background-color: #333333;
  
}

.top-container {
  width: 1250px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items:center;
  position: relative;
}

.top-container__nav {
 margin: 0 470px 0 0;
}
.top-container__region {
  margin: 0 80px 0 0;
}

.menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.menu__link {
padding: 0 25px 0 0; 
color: #fff;
}
.menu__link:hover { 
  color: #FFCC33;
  text-decoration: none;
  }
.top-region-menu__link:hover { 
    color: #FFCC33;
    text-decoration: none;
}
.popup__close:hover { 
    color: #FFCC33;
    text-decoration: none;
}
.popup__all-city-link:hover { 
  color: #FFCC33;
  text-decoration: none;
}
.region__link {
  color: #fff;
  text-decoration: none;
  }
.region__link:before {
  content:"\25BE";
  margin-right:2px; 
}

.user-preview-box__enter-link, .user-preview-box__registration-link {
  color: #FFCC33;
  text-decoration: none;
  border-bottom: 1px dotted #FFCC33;
}
.top-container__user-preview-box a:hover{
  border-bottom: none;
}
.top-container__user-preview-box span {
  color: #FFCC33;
  text-decoration: none;
}

/* Нижний header */
.bottom-wrapper {
  width: 100%;
  height: 100px;
  background-color: #FFCC33;
  
}

.bottom-container {
  /* border: solid 1px red; */
  width: 1250px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items:center;
  
}
.bottom-container__links {
  margin: 0 300px 0 100px;
}

.bottom-container__links a:last-child {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid  #000; 
}

.bottom-container__links a {
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px solid  #fff;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.bottom-container__links a:hover { 
  border-bottom: none;
  }
.order-link:hover {
  border-bottom: none;
}
.head-phone_link { 
  font-size: 33px;
  text-decoration: none;
} 
.head-phone_link span:first-child {
  color: #000;
}
.head-phone_link span:last-child {
  color:#fff;
  font-weight: bold;
}
.order-link {
  color:#000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

.bottom-container__phone {
  text-align: right;
  padding-right: 10px;
  border-right: solid 1px #fff;
  margin-right: 35px;
}

.bottom-container__cart {
  display: flex;
  align-items: center;
}
.bottom-container__link-cart {
  text-decoration: none;
  color:#000;
}
.bottom-container__cart-text {
  line-height: 1.5;
  margin-left: 10px;
}


.main {
  width: 1250px;
  height: 100%;
  margin: 0 auto;
  /* border: solid 1px red; */
}
.main__top-row {
  display: flex;
  padding-top: 20px;
}
.catalog-dropdown-button {
  width: 240px;
  height: 40px;
  left: 0px;
  background: #FFCC33;
  display: flex;
  margin-right: 15px;
}
.catalog-dropdown-button img {
  height: 20px;
  width: 20px;
  margin: auto;
  justify-content: center;
  margin-left: 15px;
  margin-right: 0;
}

.catalog-dropdown-link {
  font-size: 16px;
  text-transform: uppercase;
  color:#fff;
  text-decoration: none;
  margin: auto;
  margin-left: 10px;
  justify-content: center;
}
.icon-straw {
  display: block;
  height: 20px;
  width: 20px;
  fill: #fff;
}
.catalog-dropdown-straw {
  margin: 0;
  justify-content: center;
  margin: auto;
  margin-right: 15px;
}
.rotate {
  transform: rotate(180deg);
}
.catalog-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.left-dropdown-catalog {
  position: fixed;
  margin-top: 214px;
  margin-left: 228px;
  width: 240px;
  border: 1px solid #e5e1e1;
  border-top: none;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1)
}
.left-dropdown-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px; 
}
.left-dropdown-catalog-item {
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 40px;
}
.left-dropdown-catalog-item:hover {
  border-bottom: 1px solid #000; 
}
.left-dropdown-catalog-link-current {
  font-weight: bold;
  color:#000;
  text-decoration: none;
}
.left-dropdown-catalog-item-current {
  border-bottom: 1px solid #000;
}
.left-dropdown-catalog-link:hover{
  color:#000;
}
.left-dropdown-catalog-link {
  color: #666;
  text-decoration: none;
}

.main__input {
  width: 750px;
  height: 40px;
  border: 1px solid #fc3;
  padding: 0 38px 0 10px;
  font-size: 16px;
  outline: none;
}
.main__top-btn {
  width: 240px;
  height: 40px;
  float: right;
  background: #fc3;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.main__top-btn:hover {
  background: #ecba15;
}
.icon-search {
 width: 16px;
 height: 16px;
 vertical-align: middle;
  margin-right: 10px;

}
.main__ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}
.main__ul-item {
  margin-right: 15px;
  color: #000;
  font-size: 16px;
}
.main__ul-item-sl {
  color: #ccc;
}


.main__left-col-container {
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.left-filter-box {
  border-bottom: 0.5px solid #ccc;
  padding: 18px 20px;
  display: flex;
}
.left-filter-box input {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  -webkit-appearance: none;
  border-radius: 0;
  border:.5px solid  #ccc;
}
.left-filter-box span {
  display: block;
  color: #666;
  padding-top: 5px;
}
.left-price-box {
  border-bottom: 0.5px solid #ccc;
  padding: 5px 20px;
}
.left-box-wrapper {
  padding: 10px 0;
}
.main__left-col-straw {
  fill: black;
  width: 16px;
  height: 16px;
}
.left-box-name {
  font-size: 16px;
  bottom:10px;
}
.left-price-box-input {
  width: 170px;
  padding: 3px 6px 3px 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.left-price-box-span {
  color: #666;
}
.left-item-box {
  border-bottom: 0.5px solid #ccc;
  padding: 5px 20px 15px;
}
.left-filter-box-item {
  display: flex;
  padding: 3px 0;
}
.left-filter-box-item input{ 
  width: 22px;
  height: 22px;
  margin-right: 5px;
  -webkit-appearance: none;
  border-radius: 0;
  border:.5px solid  #ccc;
}
.left-filter-box-item span {
  color: #666;
  padding-top: 5px;
}
.left-filter-btn {
  width: 200px;
  height: 40px;
  background: #999;
  margin: 20px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.left-filter-btn:hover {
  background: #000;
}




/* .bottom-container__cart span {
  display: inline-block;
} */
/*
.user-preview-box {
  display: flex;
  width: 20%;
  position: absolute;
}

.block-authorization {
  position: fixed;
  width: 100%;
  height:200px;
  background-color: #0C0C0C;
  top:0;
  left: 0;
}
.block-authorization__body {
  min-height: 100%;
  width: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.block-authorization__close {
  position: absolute;
  right: 10px;
  top:10px;
} */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.3);
  transition: background .2s ease-in;
}
.hide {
  display: none;
}
.popup__content{
  position: fixed;
  max-width: 630px;
  width:90%;
  min-height: 280px;
  background: #333333;
  z-index: 999999;
  color: #f1f1f1;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px 70px;
  box-shadow: -1px 0 18px 5px #333;
  position: relative;
}
.popup__close{
  position: absolute;
  color: #f1f1f1;
  right: 70px;
  font-size: 28px;
  font: weight 500;
  text-decoration: none;
}
.popup__title{
  font-size: 22px;
  margin: 0;
}
.popup__text ul {
  list-style: none;
  padding: 0;
}
.popup__all-city-link, .popup__text a {
  font-size: 14px;
  color: #f1f1f1;
}
